/* General body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    position: relative;
    background-image: url("backgroung.png") ;
    background-size: 100%; /* Scales the image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the element */
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    padding: 20px;
    color: white;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

.logout {
    margin-left: auto;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Container for the centered welcome image */
.container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

/* Centered welcome image 
.center-image {
    max-width: 500px;
    width: 100%;
    height: auto;
}*/

/* Doctor illustration image at the bottom-left */
.bottom-left {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: auto;
}

/* Logo fixed at the bottom-right corner */
#logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px; /* Adjust width as needed */
    height: auto;
}
