body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
.container {
    width: 95%;
    height: 95%;
    /* max-width: 900px; */
    background-color: #fff;
}
.header {
    background-color: #0011FF;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 10%;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.header a {
    color: white;
    text-decoration: underline;
    font-size: 14px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.content img {
    width: 500px;
    height: auto;
} 


.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form input {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form button {
    padding: 15px;
    background-color: #0011FF;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.picLeft{
    float: left;
    margin-right: 10px;
}

#logo {
    position: fixed;  
    bottom: 10px;
    right: 10px;
    width: 60px; /* Adjust width as needed */
    height: auto;
}

