<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="/static/profile.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>

<body>
  <div class="header">
    <a href="#">
      <i class="fas fa-arrow-left back-button"></i>
    </a>
    Profile Page
  </div>

  <div class="container">
    <div class="profile-form">
      <h2>Edit Profile</h2>

      <div class="upload-picture-button">
        <input type="file" id="profile-picture" accept="image/*">
        <label for="profile-picture">
          <i class="fas fa-upload"></i>
          Upload Image
        </label>
      </div>

      <div class="remove-image-button">
        <label>
          <i class="fas fa-trash"></i>
          Remove Image
        </label>
      </div>

      <form>
        <input placeholder="Name" type="text"/>
        <input placeholder="Surname" type="text"/>
        <input placeholder="Date of Birth: DD/MM/YYYY" type="text" id="dob" name="dob" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
        <input placeholder="Email Address" type="email"/>
        <textarea placeholder="Description"></textarea>
        <button>Save</button>
      </form>
    </div>

    <div class="profile-card">
      <img alt="Profile picture placeholder" src="https://placehold.co/100x100"/>
      <h3>Mary Grace</h3>
      <p>Description</p>
    </div>

  </div>
</body>
</html>